body{
  
    font-family: 'Roboto', sans-serif;
    color:rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}




h1{
    font-size: 50px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 40px;
    color:rgb(0, 0, 0);
    line-height: 0px;
}

.red_color{
    color:red;
}

.flex-container{
    display: flex;
}

.left-side{

    width: 50%;
    padding: 40px 20px; 
}

.right-side{
    width:  50%;
    padding-left: 99px;
} 

.right-side img{
    padding: 100px;
    width: 60%;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    color:aliceblue;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.first_sec {
    
    background-image:url(./images/BG.jpg) ;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
   
    
}

 .second_sec{
    background-image:url(./images/BG_2.jpg) ;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
 }
.half_width{
    width: 50%;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    /* border-radius: 20px; */
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.418);
    

}
 .orange_color{
    color:orange;
 }

 .experience_area{
    background-image: url(./images/half\ circle.png);
    background-repeat: no-repeat;
    background-position: left;
 }
 #web_dev_ex{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 3;
}  

#baby_wev_dev{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(251, 255, 0), rgb(255, 0, 0));
    border-image-slice: 3;
}  


footer p{
    margin: 50px 0 50px 0;
    text-align: center;
}